body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
}

#timer {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    padding: 8px 14px;
    margin: 5px;
    cursor: pointer;
}
